body {
  margin: 0px;
}

.landingpage {
    background-image: url(../images/yosemite-night.jpg);
    /* vh is a viewport height so we dont have to playaround with HTML
        and Body */
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    /* Parallax  */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;

    color: white;
    font-family: Verdana, Tahoma, sans-serif;
}

/* Education style */
.edu-body hr {
  margin: 0 0 0 0;
  width: 400px;
}
.edu-body h4, ul {
  margin-left: 60px;
}

.education {
  height: 400px;
  background-color: #f6f6f6;
  border-bottom: 2px solid black;
}

/* Style for Experience Tab */

.experiences {
  height: 650px;
  background-color: #403E41;
  color: white;
}

.experiences hr {
  margin: 0 0 0 0px;
  margin-bottom: 10px;
}

.exp-body {
    height: 40px;
    background:#249991;
    position: relative;
    margin-bottom: 5px;
    margin-top: 50px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;

}

.exp-body:before {
  content: "";
  border-right: 10px solid #249991;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  position: absolute;
  top:0;
  left: -10px;
  z-index: 100;
}

.exp-body:after {
  content: "";
  border-right: 10px solid #403E41;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  position: absolute;
  top:0;
  right: 0;
  z-index: 1;
}

.skills {
  height: 600px;
  background-color: #f6f6f6;
}

.progress {
  margin-top: 20px;
}

.portfolio {
  height: 300px;
  background-color: #403E41;
  color: white;
}

footer {
  background-color: #000000;
  color: white;
  height: 50px;
}